*, *::before, *::after {
  box-sizing: border-box;
}


html {
  font: 400 100%/1.5 'Source Sans Pro', sans-serif;
  color: black;
}
head, body {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 13px solid #75fe04;
}



html::before, html::after {
  white-space: pre;
  position: absolute;
  padding: 2.5em;
  width: 100%;
}
html::before {
  content: "Writing nice code since 2011.\A We're Test Double. It's nice to meet you.";
  bottom: 0;
  color: white;
}
html::after {
  content: "614.349.4279\A hello@testdouble.com";
  bottom: -100%;
  text-align: right;
}



head {
  background: white url(/img/home-bg.jpg) 0 0 / cover no-repeat;
}
head::before, head::after {
  content: "";
  position: absolute;
  width: 88px;
  height: 76px;
  background: transparent 100% 100% no-repeat;
}
head::before {
  background-image: url(/img/logo.svg);
}
head::after {
  top: 100%;
  background-image: url(/img/logo-dark.svg);
}



body {
  text-align: center;
  font-weight: 300;
  font-size: 1.85em;
}
body::before, body::after {
  display: block;
  position: relative;
  margin: auto 10%;
}
body::first-line {
  font-style: normal;
}
body::before {
  content: "We like to write nice code.\AYou look great today.";
  top: 25%;
  font-style: italic;
  white-space: pre;
}
body::after {
  content: "We develop apps. Great ones that in a beautifully simple way solve complex business problems. That's what makes Test Double special. Well, that and the fact that we're quite friendly and have a knack for building great partnerships.";
  top: 50%;
}
